.portada {
    max-width: 100%;
    height: auto;
    margin: -8px 0px -8px 0px;
}

nav {
    position : absolute;
    left : 8px;
    width : 98.8%;
    background : url(Background_nav.png);
    font-family: arial, verdana, sans-serif;
}
nav ul {
    margin : 0 auto;
    width : 100%;
    list-style : none;
    text-align: left;
}
nav ul li {
    float : left;
}
nav ul li a {
    display : block;
    margin-right : 20px;
    width : 140px;
    font-size : 14px;
    line-height : 44px;
    text-align : center;
    text-decoration : none;
    color : #ccc;
}
nav ul li a:hover {
    color : #fff;
}
nav ul li.selected a {
    color : #fff;
}

.copyright {
    color : #000 ;
    font-family: arial, verdana, sans-serif;
}
