.portada {
    position : relative;
    width: 100%;
    height: auto;
    margin: -8px 0px -8px 0px;
}

nav {
    position : absolute;
    background-color : #3d5d83;
    width : 100%;
    font-family: arial, verdana, sans-serif;
}
nav ul {
    margin : 0 auto;
    width : 100%;
    list-style : none;
    text-align: left;
}
nav ul li {
    float : left;
}
nav ul li a {
    display : block;
    margin-right : 20px;
    width : 140px;
    font-size : 14px;
    line-height : 44px;
    text-align : center;
    text-decoration : none;
    color : #ccc;
}
nav ul li a:hover {
    color : #fff;
}
nav ul li.selected a {
    color : #fff;
}

.section__main {
	width: 100%;
	
	margin: auto;
	text-align: center;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	height: 100%;
	min-height: 100%;
	background: url(http://ernestojimenez.net/background.jpg);
	background-size: cover;
}
.section__content {
	width: 60%;
	max-width: 1400px;
	padding-top: 48px;
	margin: auto;
}
.weather__block {
	width: 100%;
	
	float: left;

}
@media only screen and (min-width: 37.5em) {
    .weather__block {
      width: 45%;
	margin: 1%;
	
      } 
}

h1 {
	font-size: 26px;
   	font-size: 1.625rem;
   	padding: 2rem;
   	margin-bottom: 1rem;
}
h2 {
	font-size: 18px;
	font-size: 1.3rem;
	margin-bottom: 48px;
}
.wi, .weather_temperature {
	font-size: 160px;
	font-size: 10rem;
	width: 100%;
	text-align: center;
}
.weather_name {
	font-weight: bold;
	font-size: 20px;
	font-size: 1.2rem;
}
.wi {
	margin-bottom: 22px;
}


footer p{
    position: relative;
    background-color : #000 ;
    color:#fff;
    font-family: arial, verdana, sans-serif;
    font-size: 12px;
    line-height : 44px;
    text-align : center;
}

aside section {
    position: relative;
    margin-top: 44px;
    background-color : #000 ;
    color:#fff;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    width: 22%;
}

aside section header h3{
	padding: 2em 0em 0em 1em;
}
input {
  padding: .4em;
  border: 2px solid #eae1c0;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,.5) 1px 1px 1px 1px inset;
  background: #fff;	
  margin: .9em;
}
