.portada {
    position : relative;
    max-width: 100%;
    height: auto;
    margin: -8px 0px -8px 0px;
}

nav {
    position : absolute;
    background-color : #3d5d83;
    width : 100%;
    font-family: arial, verdana, sans-serif;
}
nav ul {
    margin : 0 auto;
    width : 100%;
    list-style : none;
    text-align: left;
}
nav ul li {
    float : left;
}
nav ul li a {
    display : block;
    margin-right : 20px;
    width : 140px;
    font-size : 14px;
    line-height : 44px;
    text-align : center;
    text-decoration : none;
    color : #ccc;
}
nav ul li a:hover {
    color : #fff;
}
nav ul li.selected a {
    color : #fff;
}

footer p{
    position: relative;
    background-color : #000 ;
    color:#fff;
    font-family: arial, verdana, sans-serif;
    font-size: 12px;
    line-height : 44px;
    text-align : center;
}

aside section {
    position: relative;
    margin-top: 44px;
    background-color : #000 ;
    color:#fff;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    width: 22%;
}

aside section header h3{
	padding: 2em 0em 0em 1em;
}
input {
  padding: .4em;
  border: 2px solid #eae1c0;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,.5) 1px 1px 1px 1px inset;
  background: #fff;	
  margin: .9em;
}
