body{
  margin:0;
}

.portada {
    position : relative;
    width: 100%;
    display:block;
}
/*
nav {
    display: inline-block;
    background-color : #3d5d83;
    width : 100%;
    font-family: arial, verdana, sans-serif;
}
nav ul {
    margin : 0 auto;
    width : 100%;
    list-style : none;
    text-align: left;
}
nav ul li {
    float : left;
}
nav ul li a {
    display : block;
    margin-right : 20px;
    width : 140px;
    font-size : 14px;
    line-height : 44px;
    text-align : center;
    text-decoration : none;
    color : #ccc;
}
nav ul li a:hover {
    color : #fff;
}
nav ul li.selected a {
    color : #fff;
}
*/
main{
  display: block;
  background-color: #43547B;
    margin:0;
}

.section__main {
  display:inline-block;
	text-align: center;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	width: 81%;
  color: white;
}
.section__content {
  display:flex;*
  align-items: center;
	width: 100%;
  padding-top: 5%;
  font-size: 2rem;
}
.weather__block {

}

#eltiempo{
    width: auto;
}

@media only screen and (min-width: 37.5em) {
    .weather__block {
        width: 45%;
	      margin: 0%;
    }
}


.wi, .weather_temperature {
	font-size: 2rem;
	width: 100%;
	text-align: center;
}
.weather_name {
	font-weight: bold;
	font-size: 20px;
	font-size: 1.2rem;
}
.wi {
	margin-bottom: 22px;
}


footer p{
    background-color : #000 ;
    color:#fff;
    font-family: arial, verdana, sans-serif;
    font-size: 12px;
    line-height : 44px;
    text-align : center;
}

.copyright{
  margin: 0;
}
aside{
  display:inline;
}
aside section {

    color:#fff;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    height: 53em;
    display: inline-block;
    vertical-align: top;
    width: 18%;
    background-color: black;
}

aside section header h3{
	padding: 2em 0em 0em 1em;
}
input {
  padding: .4em;
  border: 2px solid #eae1c0;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,.5) 1px 1px 1px 1px inset;
  background: #fff;
  margin: .9em;
}

.cabecera_frcst,.icon_frcst, .tmp_frcst,.wind_frcst,.humedad_frcst{
  background-color: black;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px;
  border-color: white;
  border-style: solid;
  width: 9%;
  display: table-cell;
  vertical-align: middle;
}
.now_temp{
  position: absolute;
  top: 50px;
  left: 50px;
}

.Dia{

}

.section_forecast{
  display: inline-block;
}
.section_content_frcst{

}

.icon_frcst{
  background-color: white;
  border-color: black;
}
.tmp_frcst_max{
  color:red;
}
.tmp_frcst_min{
  color:blue;
}
